@inshur:registry=https://europe-npm.pkg.dev/inshur-prod0-repo0/npm/
//europe-npm.pkg.dev/inshur-prod0-repo0/npm/:_password=""
//europe-npm.pkg.dev/inshur-prod0-repo0/npm/:username=oauth2accesstoken
//europe-npm.pkg.dev/inshur-prod0-repo0/npm/:email=andreas@inshur.com
//europe-npm.pkg.dev/inshur-prod0-repo0/npm/:always-auth=true